@using Datapia.Models;
<div class="leftside-menu">

    <!-- Brand Logo Light -->
    <a href="index.html" class="logo logo-light">
        <span class="logo-lg">
            <img src="~/assets/images/logo.svg" alt="logo" style="height:50px">
        </span>
        <span class="logo-sm">
            <img src="~/assets/images/logosm.svg" alt="small logo" style="height:50px;margin-left:-10px;">
        </span>
    </a>

    <!-- Brand Logo Dark -->
    <a href="index.html" class="logo logo-dark">
        <span class="logo-lg">
            <img src="~/assets/images/logo.svg" alt="dark logo" style="height:50px">
        </span>
        <span class="logo-sm">
            <img src="~/assets/images/logosm.svg" alt="small logo" style="height: 50px; margin-left: -10px;">
        </span>
    </a>

    <!-- Sidebar Hover Menu Toggle Button -->
    <div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
        <i class="ri-checkbox-blank-circle-line align-middle"></i>
    </div>

    <!-- Full Sidebar Menu Close Button -->
    <div class="button-close-fullsidebar">
        <i class="ri-close-fill align-middle"></i>
    </div>

    <!-- Sidebar -left -->
    <div class="h-100" id="leftside-menu-container" data-simplebar>
        <!-- Leftbar User -->
        <div class="leftbar-user">
            <a href="pages-profile.html">
                <img src="~/assets/images/users/avatar-1.jpg" alt="user-image" height="42" class="rounded-circle shadow-sm">
                <span class="leftbar-user-name mt-2">@Session["username"] - @Session["usercode"]</span>
            </a>
        </div>

        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-item">
                <a href="/Home/Overview" class="side-nav-link">
                    <i class="uil-table"></i>
                    <span> Danh sách kết nối </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/GoogleSheet/Index" class="side-nav-link">
                    <i class="uil-table"></i>
                    <span> Cấu hình GoogleSheet </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/Account/AccountInfo" class="side-nav-link">
                    <i class="uil-user"></i>
                    <span> Thông tin tài khoản </span>
                </a>
            </li>
            @if (Session["role_code"].ToString() != "200")
            {
                <li class="side-nav-item">
                    <a href="/Account/AccManagement" class="side-nav-link">
                        <i class="uil-user"></i>
                        <span> Quản lý tài khoản </span>
                    </a>
                </li>
            }
        </ul>
        <!--- End Sidemenu -->

        <div class="clearfix"></div>
    </div>
</div>