@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_v1.cshtml";
}

@*<div class="position-absolute start-0 end-0 start-0 bottom-0 w-100 h-100">
        <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 800 800'>
            <g fill-opacity='0.22'>
                <circle style="fill: rgba(var(--ct-primary-rgb), 0.1);" cx='400' cy='400' r='600' />
                <circle style="fill: rgba(var(--ct-primary-rgb), 0.2);" cx='400' cy='400' r='500' />
                <circle style="fill: rgba(var(--ct-primary-rgb), 0.3);" cx='400' cy='400' r='300' />
                <circle style="fill: rgba(var(--ct-primary-rgb), 0.4);" cx='400' cy='400' r='200' />
                <circle style="fill: rgba(var(--ct-primary-rgb), 0.5);" cx='400' cy='400' r='100' />
            </g>
        </svg>
    </div>*@
<div class="account-pages pt-2  position-relative">
    <div class="container">
        <div class="py-4 text-center">
            <a href="index.html">
                <span><img src="~/assets/images/logo.svg" alt="logo" height="50"></span>
            </a>
        </div>
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-lg-5">
                <!-- Logo -->


                <div class="text-left w-100 m-auto">
                    <h4 class="text-dark-50 text-left pb-0 fw-bold">Đăng nhập</h4>
                </div>

                <form class="validate-form" method="post" asp-action="Login">
                    @if (Session["err"] != null)
                    {
                        <p style="color:red;text-align: center;">@Session["err"].ToString()</p>
                    }
                    @Html.AntiForgeryToken()
                    <div class="mb-3">
                        <label asp-for="UserId" class="form-label">Tên đăng nhập</label>
                        <input class="form-control" asp-for="UserId" id="UserId" name="UserId" placeholder="Tên đăng nhập" required autocomplete="off">
                        <span asp-validation-for="UserId" style="color:red"></span>
                    </div>

                    <div class="mb-3">
                        <a href="pages-recoverpw.html" class="text-muted float-end"><small>Forgot your password?</small></a>
                        <label asp-for="Password" class="form-label">Mật khẩu</label>
                        <div class="input-group input-group-merge">
                            <input type="password" asp-for="Password" id="Password" name="Password" class="form-control" placeholder="Nhập mật khẩu" required autocomplete="off">
                            <div class="input-group-text" data-password="false">
                                <span class="password-eye"></span>
                            </div>
                        </div>
                        <span asp-validation-for="Password " style="color:red"></span>
                    </div>
                    <input type="hidden" id="IsChekIPV4" />
                    @*<div class="mb-3 mb-3">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="checkbox-signin" checked>
                                <label class="form-check-label" for="checkbox-signin">Nhớ mật khẩu</label>
                            </div>
                        </div>*@
                    @*<h4 style="color:red">@TempData["error"]</h4>*@
                    <div class="mb-3 mb-0 text-center">
                        <button class="btn btn-danger" type="submit" id="submitlg"> Sign in </button>
                    </div>

                </form>


                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-muted">Don't have an account? <a href="/Account/Register" class="text-muted ms-1"><b>Sign Up</b></a></p>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
@section scripts{
    <script>
        $(function () {
            js_checkip();
        });
        jQuery(document).on('keyup', function (evt) {
            if (evt.keyCode == 13) {
                $('#submitlg').click();
            }
        });
    </script>
}
