@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout_v1.cshtml";
}

@*<div class="position-absolute start-0 end-0 start-0 bottom-0 w-100 h-100">
        <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 800 800'>
            <g fill-opacity='0.22'>
                <circle style="fill: rgba(var(--ct-primary-rgb), 0.1);" cx='400' cy='400' r='600' />
                <circle style="fill: rgba(var(--ct-primary-rgb), 0.2);" cx='400' cy='400' r='500' />
                <circle style="fill: rgba(var(--ct-primary-rgb), 0.3);" cx='400' cy='400' r='300' />
                <circle style="fill: rgba(var(--ct-primary-rgb), 0.4);" cx='400' cy='400' r='200' />
                <circle style="fill: rgba(var(--ct-primary-rgb), 0.5);" cx='400' cy='400' r='100' />
            </g>
        </svg>
    </div>*@
<div class="account-pages pt-2  position-relative">
    <div class="container">
        <div class="py-4 text-center">
            <a href="index.html">
                <span><img src="~/assets/images/logo.svg" alt="logo" height="50"></span>
            </a>
        </div>
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-lg-5">
                <!-- Logo -->

                <div class="text-left w-100 m-auto">
                    <h4 class="text-dark-50 text-left pb-0 fw-bold">Đăng ký</h4>
                </div>

                <form class="validate-form" method="post" asp-action="Register">
                    @if (Session["err"] != null)
                    {
                        <p style="color:red;text-align: center;">@Session["err"].ToString()</p>
                    }
                    @Html.AntiForgeryToken()
                    <div class="mb-3">
                        <label for="user_code" class="form-label">Tên đăng nhập</label>
                        <input class="form-control" asp-for="user_code" type="text" id="user_code" name="user_code" placeholder="Enter your name" required autocomplete="off">
                        <span asp-validation-for="user_code" style="color:red"></span>
                    </div>

                    <div class="mb-3">
                        <label for="user_name" class="form-label">Họ và tên</label>
                        <input class="form-control" type="text" asp-for="user_name" id="user_name" name="user_name" placeholder="Enter your name" required autocomplete="off">
                        <span asp-validation-for="user_name" style="color:red"></span>
                    </div>

                    <div class="mb-3">
                        <label for="emailaddress" class="form-label">Email address</label>
                        <input class="form-control" type="email" asp-for="emailaddress" id="emailaddress" name="emailaddress" required placeholder="Enter your email" autocomplete="off">
                        <span asp-validation-for="emailaddress" style="color:red"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Mã xác thực</label>
                        <div class="input-group">
                            <input type="text" asp-for="otp" id="otp" name="otp" class="form-control" placeholder="Nhập mã xác thực từ mail" aria-label="Recipient's username" required autocomplete="off">
                            <button class="btn btn-dark" type="button" onclick="js_send_mail();">Nhận mã</button>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <div class="input-group input-group-merge">
                            <input type="password" id="password" asp-for="password" name="password" class="form-control" placeholder="Enter your password" required autocomplete="off">
                            <div class="input-group-text" data-password="false">
                                <span class="password-eye"></span>
                            </div>
                        </div>
                        <span asp-validation-for="password" style="color:red"></span>
                    </div>

                    @*<div class="mb-3">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="checkbox-signup">
                                <label class="form-check-label" for="checkbox-signup">I accept <a href="#" class="text-muted">Terms and Conditions</a></label>
                            </div>
                        </div>*@

                    <div class="mb-3 text-center">
                        <button class="btn btn-primary" type="submit" id="submitlg"> Sign Up </button>
                    </div>
                </form>

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-muted">Already have account? <a href="/Account/Login" class="text-muted ms-1"><b>Log In</b></a></p>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
@section scripts{
    <script>
        $(function () {
            //js_checkip();
        });
        jQuery(document).on('keyup', function (evt) {
            if (evt.keyCode == 13) {
                $('#submitlg').click();
            }
        });

        function js_send_mail() {
            var mail = $('#emailaddress').val();

            $.ajax({
                url: '/Account/send_mail',
                type: 'POST',
                data: JSON.stringify({ mail: mail }),
                contentType: 'application/json, charset=utf-8',
                beforeSend: function () {
                },
                success: function (data) {
                    if (data == 1) {
                        $.toast({
                            text: "Mã xác thực đã được gửi đến mail của bạn, vui lòng kiểm tra mã xác thực!", // Text that is to be shown in the toast
                            heading: 'Thông báo', // Optional heading to be shown on the toast
                            icon: 'info', // Type of toast icon
                            showHideTransition: 'slide', // fade, slide or plain
                            allowToastClose: true, // Boolean value true or false
                            hideAfter: 2000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
                            stack: 1, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
                            position: 'top-right', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
                            textAlign: 'center',  // Text alignment i.e. left, right or center
                            loader: true,  // Whether to show loader or not. True by default
                            loaderBg: 'rgb(34 211 238)',
                        });
                    }
                    if (data == 2) {
                        $.toast({
                            text: "Gửi mã xác thực không thành công, vui lòng kiểm tra lại!", // Text that is to be shown in the toast
                            heading: 'Thông báo', // Optional heading to be shown on the toast
                            icon: 'error', // Type of toast icon
                            showHideTransition: 'slide', // fade, slide or plain
                            allowToastClose: true, // Boolean value true or false
                            hideAfter: 2000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
                            stack: 1, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
                            position: 'top-right', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
                            textAlign: 'center',  // Text alignment i.e. left, right or center
                            loader: true,  // Whether to show loader or not. True by default
                            loaderBg: 'rgb(220 38 38)',
                        });
                    }
                    if (data == 3) {
                        $.toast({
                            text: "Email đã sử dụng đăng ký tài khoản, vui lòng kiểm tra lại!", // Text that is to be shown in the toast
                            heading: 'Thông báo', // Optional heading to be shown on the toast
                            icon: 'warning', // Type of toast icon
                            showHideTransition: 'slide', // fade, slide or plain
                            allowToastClose: true, // Boolean value true or false
                            hideAfter: 10000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
                            stack: 1, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
                            position: 'top-right', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
                            textAlign: 'center',  // Text alignment i.e. left, right or center
                            loader: true,  // Whether to show loader or not. True by default
                            loaderBg: '#ffc35a',
                            bgColor: '#FFBE4D',
                        });
                    }
                },
                error: function () {
                }

            });
        }
    </script>
}